
@model UnibenWeb.Application.ViewModels.PagarContaVm

@{
    ViewBag.Title = "Index";
}

<div>

</div>

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Nova Conta", "Criar")
</p>

<table id="myDataTable" class="table">

    <thead data-toggle="tooltip" title="Pressione SHIFT para filtrar mais de uma coluna">
        <tr>
            <th>@Html.DisplayNameFor(model => model.PagarContaId)            </th>
            <th>@Html.DisplayNameFor(model => model.Descricao)            </th>
            <th>Centro de Custo            </th>
            <th>Parcelas            </th>
            <th>Observação            </th>
            <th>Tipo de Lançamento            </th>
            <th>Valor Total            </th>
            <th>         </th>
        </tr>
    </thead>

    <tbody></tbody>

    <tfoot>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PagarContaId)            </th>
            <th>@Html.DisplayNameFor(model => model.Descricao)            </th>
            <th>Centro de Custo            </th>
            <th>Parcelas            </th>
            <th>Observação            </th>
            <th>Tipo de Lançamento            </th>
            <th>Valor Total            </th>
            <th>         </th>
        </tr>
    </tfoot>


    @*
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    ID
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>

                </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PagarContaId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PagarContaId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PagarContaId })
        </td>

            </tr>

        }
    *@




</table>


@* ======================= *@
@* =  MODAL DE DETALHES  = *@
@* ======================= *@

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Destalhar Conta a Pagar</h4>
            </div>
            <div class="modal-body" id='detailModalContent'>
                @*Html.Partial("_Detalhar")*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@* ======================= *@
@* =   MODAL DE EDIÇÃO   = *@
@* ======================= *@

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Editar Conta a Pagar</h4>
            </div>
            <div class="modal-body" id='editModalContent'>
                @*Html.Partial("_Editar")*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@* ========================= *@
@* =   MODAL DE EXCLUSÃO   = *@
@* ========================= *@

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="exampleModalLabel">Excluir Conta a Pagar</h2>
            </div>
            <div class="modal-body" id='deleteModalContent'>
                @*Html.Partial("_Excluir")*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>


@Styles.Render("~/bundles/Content/DataTables")
@Scripts.Render("~/bundles/scripts/DataTables")


@section scripts {
    <script data-pace-options='{"startOnPageLoad": false }' src="~/Scripts/pace.js"></script>

    @*
            <script data-pace-options='{ "elements": { "selectors": [".selector"] }, "startOnPageLoad": false }' src="~/Scripts/Outros/pace.js"></script>
        @Scripts.Render("~/bundles/outros")
                var paceOptions = {
            target: '.pace-div',
            // Disable the 'elements' source
            elements: {
                selectors: ['.my-page']
            },
            // Only show the progress on regular and ajax-y page navigation,
            // not every request
            restartOnRequestAfter: false,
            startOnPageLoad: false
        }

        $(document).ready(function () {
           // $(".pace").hide();
        });
    *@
    <script>
        $(document)
            .ready(function () {
                // Setup - add a text input to each footer cell
                $('#myDataTable tfoot th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');
                });

                // DataTable
                var oTable = $('#myDataTable').DataTable({
                    "iDisplayLength": 25,
                    "bSortClasses": false,
                    "bStateSave": false,
                    "bPaginate": true,
                    "bAutoWidth": false,
                    "bDestroy": true,
                    "autoFill": true,
                    "responsive": true,
                    //"dom": 'Bfrtip',
                    "dom": '<"top">lrft<"bottom"Bip><"clear">',
                    "buttons": {
                        buttons: ['copy', 'csv', 'excel']
                    },
                    "colReorder": true,
                    "oLanguage": { "sSearch": "Procurar:", "sProcessing": "Processando" },
                    "bJQueryUI": false,
                    "bServerSide": true,
                    "sAjaxSource": "@Url.Action("AjaxHandler", "PagarContas", routeValues: new {Area = ""})",
                    "bProcessing": true,
                    "columnDefs": [
                        { "sName": "PagarContaID", "targets": 0, "bSearchable": false, "bSortable": false, "visible": false },
                        { "sName": "Descricao", "targets": 1 },
                        { "sName": "CentrosCustoDescricao", "targets": 2 },
                        {
                            "sName": "NumeroParcelas", "targets": 3,
                            "render": function (data, type, full, meta) {
                                var ix = meta.row;
                                var value = meta.sName;
                                var rowId = full[0];
                                var link = '@Url.Action("Detalhar", "PagarContaParcelas", routeValues: new { Area = "", id = "_rowid"})';
                                link = link.replace('_rowid', rowId);
                                //return "Row number is " + ix;
                                return '<a href="' + link + '">' + '<i class="fa fa-money" data-toggle = "tooltip" title="Detalhar Parcelamento" ></i>' + '</a> \t (' + (data) + ')';
                            }
                        },
                        { "sName": "Observacao", "targets": 4 },
                        { "sName": "TipoLancamento", "targets": 5 },
                        { "sName": "ValorTotal", "targets": 6 },
                            {
                                "sName": "Operacoes", "targets": 7, "bSearchable": false, "bSortable": false, "width": 45,
                                "render": function (data, type, full, meta) {
                                    @*
                                    var link_detail = '@Url.Action("Detalhes", "PagarContas", routeValues: new { Area = "", id = "_rowid"})';
                                    link_detail = link_detail.replace('_rowid', full[0]);
                                    var link_edit = '@Url.Action("Editar", "PagarContas", routeValues: new { Area = "", id = "_rowid"})';
                                    link_edit = link_edit.replace('_rowid', full[0]);
                                    var link_delete = '@Url.Action("Excluir", "PagarContas", routeValues: new { Area = "", id = "_rowid"})';
                                    link_delete = link_delete.replace('_rowid', full[0]);
                                    *@
                                    //return "Row number is " + ix;
                                    return '<a data-toggle="modal" data-target="#detailModal" data-id="' + full[0] + '">' + '<i class="fa fa-binoculars" data-toggle = "tooltip" title="Detalhes" ></i>' + '</a>' // href="' + link_detail + '"
                                    + ' | <a data-toggle="modal" data-target="#editModal" data-id="' + full[0] + '">' + '<i class="fa fa-pencil-square-o" data-toggle = "tooltip" title="Editar" ></i>' + '</a>'
                                    + ' | <a data-toggle="modal" data-target="#deleteModal" data-id="' + full[0] + '">' + '<i class="fa fa-trash" data-toggle = "tooltip" title="Excluir" ></i>' + '</a>'
                                    //return '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailModal" data-whatever="plus">' + '<i class="fa fa-binoculars" data-toggle = "tooltip" title="Detalhes" ></i>' + '</button>'
                                }
                            }
                    ]
                });

                $('#detailModal').on('show.bs.modal', function (event) {
                    Pace.restart();
                    var button = $(event.relatedTarget);
                    var data_id = button.data('id');
                    var url = '/Administrativo/ContasPagar/Detalhar?id=' + data_id;
                    $.ajax({
                        url: url,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data) {
                                debugger;
                                $(data).appendTo('#detailModal .modal-body');
                            }
                            else {
                                debugger;
                                alert("Erro");
                            }
                        }
                    });
                });

                $('#editModal').on('show.bs.modal', function (event) {
                    Pace.restart();
                    var button = $(event.relatedTarget);
                    var data_id = button.data('id');
                    var url = '/Administrativo/ContasPagar/Editar?id=' + data_id;
                    $.ajax({
                        url: url,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data) {
                                debugger;
                                $(data).appendTo('#editModal .modal-body');
                            }
                            else {
                                debugger;
                                alert("Erro");
                            }
                        }
                    });
                });

                $('#deleteModal').on('show.bs.modal', function (event) {
                    Pace.restart();
                    var button = $(event.relatedTarget);
                    var data_id = button.data('id');
                    var url = '/Administrativo/ContasPagar/Excluir?id=' + data_id;
                    $.ajax({
                        url: url,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data) {
                                debugger;
                                $(data).appendTo('#deleteModal .modal-body');
                                }
                            else {
                                debugger;
                                alert("Erro");
                            }
                        }
                    });
                });

                $('#detailModal').on('hide.bs.modal', function (event) {
                    $('#detailModal .modal-body').replaceWith('<div class="modal-body" id="detailModalContent"></div>');
                });

                $('#editModal').on('hide.bs.modal', function (event) {
                    $('#editModal .modal-body').replaceWith('<div class="modal-body" id="editModalContent"></div>');
                });

                $('#deleteModal').on('hide.bs.modal', function (event) {
                    $('#deleteModal .modal-body').replaceWith('<div class="modal-body" id="deleteModalContent"></div>');
                });

                // Apply the search
                oTable.columns().every(function () {
                    var that = this;
                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            });

    </script>
    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
}
